/* this is basically everything on the page incl. headers, even though it says body */
body {
	background: gainsboro;
	
}
/* anything in the navigation bar gets class nav */

.nav {
	font-family: sans-serif;
	background: midnightblue;
	color: white;
	h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}
	}

/* the list of posts on the posts/blog page */

.postslist {
	list-style: none;
	font-family: sans-serif;
	color: aqua;
	font-size: 1.5em;

}
