---
layout: default
---
<div class="post">
<div class="normaltitle">
	<h1>{{ page.title }}</h1>
</div>
<div class="bloo">
<p><small>{{ page.date | date_to_string }} - {{ page.author }}</p>
</div>
<div class="posttext">
{{ content }}
</div>
<br />
<br />
<script src="https://giscus.app/client.js"
        data-repo="sean2bo/sean2bo.github.io"
        data-repo-id="R_kgDOKZrTEQ"
        data-category="Ideas"
        data-category-id="DIC_kwDOKZrTEc4CZ6PF"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="cobalt"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>
